{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/simple-adaptive-slider.css') }}">
<script defer src="{{ url_for('static', filename='js/simple-adaptive-slider.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // инициализация 1 слайдера с нужными настройками
        const slider = new ItcSimpleSlider('.itcss', {
            loop: true,
            autoplay: false,
            interval: 5000,
            swipe: true,
        });
        document.querySelector('.btn-prev').onclick = () => {
            // перейдём к предыдущему слайду
            slider.prev();
        }
        // назначим обработчик при нажатии на кнопку .btn-next
        document.querySelector('.btn-next').onclick = () => {
            // перейдём к следующему слайду
            slider.next();
        }
    });
</script>

<div class="btn-wrapper">
    <button class="btn btn-prev">ПРЕД</button>
    <button class="btn btn-next">СЛЕД</button>
</div>
<div class="itcss">
    <div class="itcss__wrapper">
        <div class="itcss__items">
            {% for pic in pictures_list %}
            <div class="itcss__item">
                <div class="col">
                    <div class="card">
                        <div class="container">
                            <img src="{{ url_for('static', filename='pictures/' + pic.picture_url) }}"
                                class="object-fit-cover" width="100%" height="100%">
                        </div>
                        <div class="card-body">
                            <p class="card-text">"{{ pic.title }}" {{ names[pic.artist_id] }} {{ pic.year }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button"
                                        href="{{ url_for('catalogue.slider', pic_id=pic.id, pictures_list=pictures_list) }}"
                                        class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Стрелки для перехода к предыдущему и следующему слайду -->
    <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
    <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
</div>
{% endblock %}