{% extends "base.html" %}

{% block content %}
<main class="position-absolute top-50 start-50 translate-middle">
    <h4>Сбросить пароль</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</main>
{% endblock %}