{% extends "base.html" %}

{% block content %}
<style>
	.backgr {
		background-color: rgba(40, 39, 39, 0.43);; 
		color: #000000;
	}
</style>

<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>
<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/main.jpg') }}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span class="backgr">Магазин жикле WaterColor Dream представляет</span>
						<h2 class="backgr">Ольга Ивлева</h2>
						<p class="backgr">Купите чёрную дыру и получите в подарок искривление пространственно-временного
							континуума. Только самовывоз! </p>
						<a href="/catalogue/album" class="site-btn sb-white">В альбом</a>
					</div>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/main2.jpg') }}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span class="backgr">Магазин жикле WaterColor Dream представляет</span>
						<h2 class="backgr">Владимир Колбасов</h2>
						<p class="backgr">Купите чёрную дыру и получите в подарок искривление пространственно-временного континуума.
							Только самовывоз! </p>
						<a href="/catalogue/album" class="site-btn sb-white">В альбом</a>
					</div>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/main3.jpg') }}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span>Магазин жикле WaterColor Dream представляет</span>
						<h2>Евгений Дубицкий</h2>
						<p>Купите чёрную дыру и получите в подарок искривление пространственно-временного континуума.
							Только самовывоз! </p>
						<a href="/catalogue/album" class="site-btn sb-white">В альбом</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="slide-num-holder" id="snh-1"></div>
	</div>
</section>
<!-- Hero section end -->
{% endblock %}