{% extends "base.html" %}

{% block content %}

<h3>Добавление художника</h3>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="row">
    <div class="col-4">
        <form action="{{ url_for('admin.process_add_artist') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name() }}
            </div>
            <div class="form-group">
                {{ form.text.label }}
                {{ form.text() }}
            </div>
            <div class="form-group">
                {{ form.img.label }}
                {{ form.img() }}
            </div>
            <div class="form-group">
                {{ form.pictures_dir.label }}
                {{ form.pictures_dir() }}
            </div>
            {{ form.submit }}
        </form>
    </div>
    <div class="col-8">

    </div>
</div>
{% endblock %}